:root {
  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 52rem;
  font-weight: 400;
  font-family: var(--font-sans-serif);
  background-color: #ffffff;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  text-align: center;
}

.starting-page {
  margin-top: 25vh;
}

.starting-page nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.create-room {
  margin: 1rem 0;
}

.create-room label {
  display: block;
  padding-bottom: 0.25rem;
  font-weight: 900;
}

.create-room input {
  display: block;
  margin-bottom: 0.75rem;
}

.join-room {
  margin: 1rem 0;
}

.join-room nav a {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  display: block;
}

.room {
  margin: 1rem 0;
}
