:root {
  --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 52rem;
  font-weight: 400;
  font-family: var(--font-sans-serif);
  background-color: #ffffff;
  color: #000000;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h1 {
  text-align: center;
}

label {
  display: block;
  padding-bottom: 0.25rem;
  font-weight: 900;
}

input {
  display: block;
  margin-bottom: 0.75rem;
}

.starting-page > nav,
.top-nav {
  display: flex;
  justify-content: center;
}

nav > a {
  padding: 0.5rem;
}

.error {
  color: red;
}

.starting-page {
  margin-top: 25vh;
}

.join-room nav a {
  display: block;
}

.create-room,
.join-room,
.room,
.password-page
{
  margin: 1rem 0;
}

.messages {
  max-height: 20rem;
  max-width: 15rem;
  overflow-y: auto;
}

#no-rooms-found {
  text-align: center;
}

#no-rooms-found > a {
  display: initial;
  margin-bottom: initial;
  padding: initial;
}

.join-room table {
  width: 100%;
  border-collapse: collapse;
}

.join-room table td {
  padding: 0;
}

.join-room table td a {
  padding: .5rem 0;
}

.lighter-text {
  opacity: 0.2;
}

.create-room-form-wrapper {
  display: flex;
  justify-content: center;
}
