*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 50rem;
}

#chat-display {
  padding: 0.5rem;
  height: 30rem;
  width: 20rem;
  background-color: #eeeeee;
  border-radius: 0.5rem;
  overflow-y: auto;
}

.chat-message {
  overflow-wrap: break-word;
  margin-bottom: 0.5rem;
}

.chat-message .username {
  font-weight: 900;
}

.chat-message .text {
  font-family: sans-serif;
}

#chat-form {
  width: 20rem;
  display: flex;
}
